# Whitelist model: ignore everything, then whitelist specific files and folders
*

# Root files
!.gitignore
!README.md
!LICENSE
!pyproject.toml
!CMakeLists.txt
!example.py


# Main python project
!jigsawpy/
!jigsawpy/*.py
!jigsawpy/*/**.py
!tests/
!tests/*.py


# jigsaw external dependency
!external/
!external/jigsaw/
!cache/
!cache/.keep
!files/
!files/*.msh

