# Whitelist model: ignore everything, then whitelist specific files and folders
*

# Root files
!.gitignore
!README.md
!LICENSE
!pyproject.toml
!example.py


# Main python project
!jigsawpy/
!jigsawpy/*/**.py
!files/
!files/*.msh


# jigsaw external dependency
!external/
!external/jigsaw/
!cache/.keep

